{% extends 'basic.html' %}

{% block nav %}
	{% include 'back/partials/navbar.html' %}
{% endblock %}

{% block content %}
<section class="dashboard">
	<div class="container">
	<h1>{{ _('Create') }}</h1>
	<a href="{{ url_for('back.cat.category_list', alias=company.alias) }}">
		<strong>{{ _('Categories') }}</strong>
	</a>
	<form class="adm-form" action="{{ url_for('back.cat.category_store', alias=company.alias) }}" 
		method="post" enctype="multipart/form-data">
		<fieldset>
			{{ form.hidden_tag() }}
			<div class="form-field">
				{{ form.name.label }}
				{{ form.name(class='form-input-field') }}
				{% set field_errors = form.name.errors %}
				{% include 'partials/form_field_error.html' %}
			</div>
			<div class="form-field">
				{{ form.thumb.label }}
				{{ form.thumb(class='form-input-field') }}
			</div>
			<div class="form-field">
				{{ form.short_desc.label }}
				{{ form.short_desc(class='form-input-field') }}
				{% set field_errors = form.short_desc.errors %}
				{% include 'partials/form_field_error.html' %}
			</div>
			<div class="form-field">
				{{ form.is_valid(class='form-check-input') }} 
				{{ form.is_valid.label }}
			</div>
			<div class="form-field">
				<select id="{{ form.parent_id.id }}" name="{{ form.parent_id.name }}">
					{% for key, value, checked in form.parent_id.iter_choices() %}
	        			<option value="{{ key }}">
	        				{{ value }}
	        			</option>
	    			{% endfor %}
				</select>
			</div>
			<div class="form-field">
				<button type="submit" class="submit-btn">{{ _('Create') }}</button>
			</div>
		</fieldset>
	</form>
	</div>
</section>
{% endblock %}

{% block footer %}
	{% include 'back/partials/footer.html' %}
{% endblock %}