<header id="navbar" class="navbar">
	<a href="{{ url_for('front.home.home', alias=company.alias) }}">{{ _('Home') }}</a>
	<a href="{{ url_for('front.blog.blog', alias=company.alias) }}">{{ _('Blog') }}</a>
	<a href="{{ url_for('front.chat.chat', alias=company.alias) }}">{{ _('Chat') }}</a>

	<span>{{ current_language }}</span>
	{% for key, lang in config.LANGUAGES.items() %}
		<a href="{{ url_for('front.serv.change_locale', alias=company.alias, lang=key) }}">
			{{ lang }}
		</a>
	{% endfor %}

	{% if user.is_anonymous %}
		<a href="{{ url_for('back.dashboard.dashboard', alias=company.alias) }}">{{ _('SignIn') }}</a>
		<a href="{{ url_for('auth.register.register', alias=company.alias) }}">{{ _('SignUp') }}</a>
	{% else %}
		{{ user.email }}
		<a href="{{ url_for('auth.login.logout', alias=company.alias) }}">{{ _('SignOut') }}</a>
		<a href="{{ url_for('back.dashboard.dashboard', alias=company.alias) }}">{{ _('Dashboard') }}</a>
	{% endif %}
</header>

