{% extends 'basic.html' %}

{% block nav %}
	{% include 'back/partials/navbar.html' %}
{% endblock %}

{% block content %}
<section class="dashboard">
	<div class="container">
	<h1 class="text-center">{{ _('Create') }}</h1>
	<a class="block" href="{{ url_for('back.art.article_list', alias=company.alias) }}">
		<strong>{{ _('Articles') }}</strong>
	</a>
	{% set item = old %}
	<form class="adm-form" action="{{ url_for('back.art.article_store', alias=company.alias) }}" 
		method="post" enctype="multipart/form-data">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		{% include 'back/article/partials/form.html' %}
		<button type="submit" class="submit-btn">{{ _('Create') }}</button>
	</form>
	</div>
</section>
{% endblock %}

{% block footer %}
	{% include 'back/partials/footer.html' %}
{% endblock %}