<div class="form-field">
    <input class="form-input-field" type="text" name="name" value="{{ item.name|default('') }}">
    <small>{{ old_errors.name|default('') }}</small>
</div>
<div class="form-field">
    <textarea class="form-input-field" name="short_desc">{{ item.short_desc|default('') }}</textarea>
    <small>{{ old_errors.short_desc|default('') }}</small>
</div>
<div class="form-field">
    <img width="220" src="{{ url_for('static', filename=item.thumb|url_or_default) }}">
</div>
<div class="form-field">
    <input class="form-input-field" type=file name="thumb" multiple>
    <small>{{ old_errors.thumb|default('') }}</small>
</div>
<div class="form-field">
    <input class="form-input-field" type="checkbox" id="is_valid" name="is_valid" {% if item.is_valid %} checked {% endif %}>
    <label for="is_valid">{{ _('Valid') }}</label>
</div>
<div class="form-field">
    <select name="category_id">
    	{% for id, name in categories  %}
    	<option value="{{ id }}" 
    		{% if item.category_id and item.category_id|int == id %} selected {% endif %}
    	>
    		{{ name }}
    	</option>
    	{% endfor %}
    </select>
</div>
<div class="form-field">
    <textarea class="form-input-field" id="summernote" name="body">{{ item.body|safe }}</textarea>
</div>

{% block page_js_script %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script>
const uploadCsrftoken = document.querySelector('meta[name="csrf-token"]').content
const imageUploadfetchHeaders = {
    'X-CSRFToken': uploadCsrftoken,
}
const companyAlias = document.querySelector('html').dataset.company;
const url = window.location.origin + '/' + companyAlias + '/upload-article-image/'
console.log(url)
function uploadImage(image) {
    let formData = new FormData();
    formData.append("image", image);
    fetch(url, {
      method: 'POST',
      headers: imageUploadfetchHeaders,
      body: formData,
    })
    .then((response) => response.json())
    .then((result) => {
        const image_url = result['img']
        var image = $('<img>').attr('src', image_url);
        $('#summernote').summernote("insertNode", image[0]);
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}  
$('#summernote').summernote({
    placeholder: 'Hello stand alone ui',
    tabsize: 2,
    height: 120,
    toolbar: [
      ['style', ['style']],
      ['font', ['bold', 'underline', 'clear']],
      ['color', ['color']],
      ['para', ['ul', 'ol', 'paragraph']],
      ['table', ['table']],
      ['insert', ['link', 'picture', 'video']],
      ['view', ['fullscreen', 'codeview', 'help']]
    ],
    callbacks: {
        onImageUpload: function(image) {
            uploadImage(image[0]);
        }
    }
});


</script>
{% endblock %} 