{% extends 'basic.html' %}

{% block nav %}
	{% include 'front/partials/navbar.html' %}
{% endblock %}

{% block content %}
	<form class="auth-form" action="{{ url_for('auth.register.register', alias=company.alias) }}" method="post">
			{{ form.hidden_tag() }}
			<div class="form-field">
				{{ form.username.label }}<br>
				{{ form.username(class='form-input-field', 
					required='required', minlength='4', maxlength='12') }}
				{% set field_errors = form.username.errors %}
				{% include 'partials/form_field_error.html' %}
			</div>
			<div class="form-field">
				{{ form.email.label }}<br>
				{{ form.email(class='form-input-field', type='email', 
					required='required') }}
				{% set field_errors = form.email.errors %}
				{% include 'partials/form_field_error.html' %}
			</div>
			<div class="form-field">
				{{ form.password.label }}<br>
				{{ form.password(class='form-input-field',
					required='required', minlength='8', maxlength='16') }}
				{% set field_errors = form.password.errors %}
				{% include 'partials/form_field_error.html' %}
			</div>
			<div class="form-field">
				{{ form.repeat_password.label }}<br>
				{{ form.repeat_password(class='form-input-field',
					required='required', minlength='8', maxlength='16') }} 
				{% set field_errors = form.repeat_password.errors %}
				{% include 'partials/form_field_error.html' %}
			</div>
			<div class="form-field">
				<button class='submit-btn'>{{ _('SignUp') }}</button>
			</div>
	</form>
{% endblock %}

{% block footer %}
	{% include 'front/partials/footer.html' %}
{% endblock %}